# Python 相关
__pycache__/
*.pyc
*.pyo
*.log

# Virtual Environment
.venv/
env/
venv/

# SQLite 数据库
*.sqlite
*.db
!northwind.db

# IDE 相关（避免提交个人 IDE 配置）
.vscode/
.idea/


# 忽略构建和打包后的产物
build/
dist/
*.egg-info/